.itemDetailContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 284.28px);
}

@media screen and (min-width: 390px) and (max-width: 599px) {
  .itemDetailContainer {
      min-height: calc(100vh - 263.28px);
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .itemDetailContainer {
      min-height: calc(100vh - 229.67px);
  }
}

@media screen and (min-width: 900px) {
  .itemDetailContainer {
      min-height: calc(100vh - 226.53px);
  }
}
