@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Mitr:wght@200;300;400;500;600;700&family=Paprika&family=Roboto:wght@100;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.App { 
  min-height: 100vh;
  text-align: center;
  color: #b7b7b7;
  background-color: #4e4e4e;
  font-family: 'Ubuntu', sans-serif;
}
